<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 원래 클래스명은 패키지까지 포함하기때문에 너무 길어서 짧은 별명을 만들어서 접근하기 위해 기술한다 -->
<typeAliases>
     	<typeAlias alias="GameDto"   
     		type="com.mom.momhome.game.GameDto"/>
     		  	<typeAlias alias="GameJoinDto"   
     		type="com.mom.momhome.gamejoin.GameJoinDto"/>
		<typeAlias alias="MercenaryDto"
			type="com.mom.momhome.mercenary.MercenaryDto" />
		<typeAlias alias="MercenaryjoinDto"
			type="com.mom.momhome.mercenaryjoin.MercenaryjoinDto" />		
		<typeAlias alias="MemberDto"
			type="com.mom.momhome.member.MemberDto" />
			<typeAlias alias="MembershipDto"
			type="com.mom.momhome.membership.MembershipDto" />
		<typeAlias alias="BaseDto"
			type="com.mom.momhome.common.BaseDto" />
		<typeAlias alias="teamDto"
			type="com.mom.momhome.team.TeamDto" />
			<typeAlias alias="MembershipDto"
			type="com.mom.momhome.membership.MembershipDto" />
		<typeAlias alias="LineupDto"
			type="com.mom.momhome.lineup.LineupDto" />
		<typeAlias alias="LineupPlayerDto"
			type="com.mom.momhome.lineup.LineupPlayerDto" />
		<typeAlias alias="LineupTeamDto"
			type="com.mom.momhome.lineup.LineupTeamDto" />
		<typeAlias alias="LineupMembershipDto"
			type="com.mom.momhome.lineup.LineupMembershipDto" />
		<typeAlias alias="LineupGameDto"
			type="com.mom.momhome.lineup.LineupGameDto" />

	</typeAliases>

	<mappers>
	 	<mapper resource="/com/mom/momhome/mapper/Game.xml"/>
	 	<mapper resource="/com/mom/momhome/mapper/GameJoin.xml"/>
	 	<mapper resource="/com/mom/momhome/mapper/Mercenary.xml"/>
	 	<mapper resource="/com/mom/momhome/mapper/MercenaryJoin.xml"/>
		<mapper resource="/com/mom/momhome/mapper/Member.xml" />
		<mapper resource="/com/mom/momhome/mapper/Membership.xml" />
		<mapper resource="/com/mom/momhome/mapper/Team.xml" />
		<mapper resource="/com/mom/momhome/mapper/Lineup.xml" />
		<mapper resource="/com/mom/momhome/mapper/Main.xml" />
	</mappers>

</configuration>